
img {
    height: 24px;
    width: 24px;
    margin-right: .5em;
}


#loginDiv {
    margin-top: 2em;
}

h2 { 
    width:100%; 
    text-align:center; 
    line-height:0.1em; 
    margin:10px 0 20px; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: normal;
} 



h2 span { 
    padding:0 10px; 
}


.loginLinks {
    margin: 1em 0;
    text-align: center;

}

.socialLogin {
    margin: 1.5em 0;
}