
img {
    height: 24px;
    width: 24px;
    margin-right: .5em;
}


#registerDiv form {
    margin-top: 2em;
    margin-bottom: 1.5em;

}

#isRegisteredDiv {
    margin-top: 2em;
}

h2 { 
    width:100%; 
    text-align:center; 
    line-height:0.1em; 
    margin:10px 0 20px; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: normal;
} 

h2 span { 
    padding:0 10px; 
}

.socialRegister {
    margin: 1.25em 0;
}