<span class="spacer"></span>
<div *ngIf="!isRegistered" id="registerDiv" fxLayout="column" fxFlex="0 0 300px">
    
    <form fxLayout="column" [formGroup]='formRegister' (ngSubmit)='onSubmit()' id='formRegister'>
        <mat-form-field>
            <input matInput placeholder='User Name' name='UserName' formControlName='UserName'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder='Email' name='Email' formControlName='Email'>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder='Password' name='Password' formControlName='Password'
                type="password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder='Confirm Password' name='ConfirmPassword' formControlName='ConfirmPassword'
                type="password">
        </mat-form-field>

        <button type='submit' mat-raised-button color='primary' color='primary' form='formRegister'
            [disabled]='isLoading'>REGISTER</button>
    </form>
    
    <h2 class='foregroundBorderColor'><span class='mat-app-background'>or</span></h2>

    <button class="socialRegister" mat-raised-button (click)="LoginGoogle()"><img src='assets/images/ic_google.png' /> Log in with
        Google</button>
    </div>
    

    <div id="isRegisteredDiv" *ngIf="isRegistered" fxLayout="column" fxFlex="0 0 300px">
        <h3>Thank you!  A confirmation email has been sent.  Please click the link the email to complete your registration.</h3>
    </div>
<span class="spacer"></span>