/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

html, body, app-root { 
  height: 100%; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.title {
    font-size: 64px !important;
    font-weight: bolder;
    margin-bottom: .35em !important;
}

.spacer {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
 
  // Create theme specfic styles
  .primaryBG {
    background-color: mat-color($primary);
  }
  .accentBG {
    background-color: mat-color($accent);
  }
  .warnBG {
    background-color: mat-color($warn);
  }

  .foreground { 
    color: mat-color($foreground);
  }

  .background-color { 
    background-color: mat-color($background);
  }

  .foregroundBorderColor{ 
    border-bottom-color: mat-color($foreground);
    border-color: mat-color($foreground);
  }
}

a {
    color: pink;
    
  }

a:link, a:hover { 
    text-decoration: none; 
} 

// @media screen and (min-width: 1000px) {
//     html {
//       font-size: 22px;
//     }
//   }

.pageDiv {
  
  height: calc(100% - 48px);
  //min-height: 100%;
// display: flex;
// flex-direction: column;
}



.pageDivNoToolbar, .componentDivNoToolbar {
  
  height: 100%;
  //min-height: 100%;
display: flex;
flex-direction: column;
}