.time {
    margin-top: .65em;
    margin-bottom: .75em;
    //font-size: 128px;
    font-size: 192px;
}

.ao5, .ao12, .ao100 {
    margin-top: .75em;
    margin-bottom: .75em;
    font-size: 48px;
}

.green {
    color: green;
}

.red {
    color: red;

}

@media screen and (max-width: 1200px) {
    .time {
        font-size: 160px;
    }

    .ao5, .ao12, .ao100 {
        font-size: 32px;
    }
  }

@media screen and (max-width: 1000px) {
    .time {
        font-size: 128px;
    }

    .ao5, .ao12, .ao100 {
        font-size: 28px;
    }
  }

  @media screen and (max-width: 800px) {
    .time {
        font-size: 112px;
    }

    .ao5, .ao12, .ao100 {
        font-size: 28px;
    }
  }

@media screen and (max-width: 600px) {
    .time {
        font-size: 96px;
    }

    .ao5, .ao12, .ao100 {
        margin-top: .5em;
        margin-bottom: .5em;
        font-size: 24px;
    }
  }

  @media screen and (max-width: 450px) {
    .time {
        font-size: 72px;
    }

    .ao5, .ao12, .ao100 {
        font-size: 16px;
    }
  }