#sessionsDiv {
        // height: 100%;
        // min-height: 100%;
        // display: flex;
        // flex-direction: column;
        background-color: gray;
    
}

.sessionsTitle {

    padding: 1em;
    text-align: center;
}

.solvesTable {
    width: 100%;
}

.sessionsDiv {
    height: 100%;
    background-color: lightgray;
}

.sessionControls {
    color: black !important;
    padding: 0 1em;
    text-align: center;
}