// .scramble {
//     display: inline-block;
//     height: 100%;
//     margin: 0 .5em;    
//     font-size: 22px;
//     vertical-align: middle;
//     line-height: 100%;
    
// }

.toolbarScramble {
  height: 48px;
  background-color: gray;
  flex: 1 1 auto;
text-align: center;
}   



.leftScrambleControl {
    padding: 0;
}

.rightScrambleControl {
    padding: 0;
}

.scramble {
    letter-spacing: .2em;
    font-size: 32px;
    font-weight: normal;
    padding: 0 .51em;
}

.lowerScrambleControls {
    display: none;
}

@media screen and (max-width: 1700px) {
  .scramble {
    font-size: 28px;
    letter-spacing: .15em;
  }
}

@media screen and (max-width: 1500px) {
    .scramble {
      font-size: 24px;
      letter-spacing: .15em;
    }
  }

  @media screen and (max-width: 1400px) {
    .scramble {
      font-size: 22px;
    }
  }

@media screen and (max-width: 1300px) {
    .scramble {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 1200px) {
    // .scramble {
    //   font-size: 16px;
    // }
  }

  @media screen and (max-width: 1100px) {
    // .scramble {
    //     height: 200px;
    // }

    // .lowerScrambleControls {
    //     display: inherit;
    // }

    // .inlineScrambleControl {
    //     display: none;
    // }


  }

  @media screen and (max-width: 1100px) {
    .toolbarScramble {
        height: auto !important;
        white-space: initial;
    } 
  }