<mat-toolbar class="topToolbar mat-elevation-z10" *ngIf="showToolbar">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon class="md-24">menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <h1>{{title}}</h1>
  
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="layoutMenu">
    <mat-icon class="md-24">view_quilt</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon class="md-24">account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #mainMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item [routerLink]="['/timer']">
    <mat-icon>access_alarm</mat-icon>
    <span>Timer</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>list</mat-icon>
    <span>Sessions</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>timeline</mat-icon>
    <span>Analysis</span>
  </button>
  <button mat-menu-item>
    <mat-icon>fitness_center</mat-icon>
    <span>Algorithm Training</span>
  </button>
  <button mat-menu-item>
    <mat-icon>sports_mma</mat-icon>
    <span>Battle</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
</mat-menu>

<mat-menu #layoutMenu="matMenu" id="layoutMenu">


  <button mat-menu-item>
    <mat-icon>list</mat-icon>
    <span>Show Session</span>
    <mat-slide-toggle [checked]="showSession" (change)="onShowSessionChanged()" (click)="$event.stopPropagation();"></mat-slide-toggle>
  </button>

  <button mat-menu-item>
    <mat-icon>text_rotation_none</mat-icon>
    <span>Show Scramble</span>
    <mat-slide-toggle [checked]="showScramble" (change)="onShowScrambleChanged()" (click)="$event.stopPropagation();"></mat-slide-toggle>
  </button>

  <button mat-menu-item>
    <mat-icon>grid_on</mat-icon>
    <span>Draw Scramble</span>
    <mat-slide-toggle [checked]="drawScramble" (change)="onDrawScrambleChanged()" (click)="$event.stopPropagation();"></mat-slide-toggle>
  </button>

</mat-menu>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_box</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>exit_to_app</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
